
#wrapper{
  padding: 60px 0px;
}
.Marcas .container{
    margin-top: 450px;
}
.Marcas .row{
}
.Marcas .circle{
  background: gainsboro;
  padding: 35px;
  text-align: center;
  height: 250px;
  width: 250px; 
    transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
  -webkit-transition: all 0.5s; /* Safari and Chrome */
  -o-transition: all 0.5s; /* Opera */
  border-radius: 500px;

}


.Marcas .c1:hover{
  background: #39b3d7;
  color: #ffffff;
}
.Marcas .c1 .blue{
  color: #39b3d7;

}
.Marcas .c1:hover .blue{
  color: #ffffff;
}

.Marcas .c2:hover{
  background: #ed9c28;
  color: #ffffff;
}
.Marcas .c2 .yellow{
  color: #ed9c28;
}
.Marcas .c2:hover .yellow{
  color: #ffffff;
}

.Marcas .c3:hover{
  background: #47a447;
  color: #ffffff;
}
.Marcas .c3 .green{
  color: #47a447;
}
.Marcas .c3:hover .green{
  color: #ffffff;
}

.Marcas .c4:hover{
  background: #d2322d;
  color: #ffffff;
}
.Marcas .c4 .red{
  color: #d2322d;
}
.Marcas .c4:hover .red{
  color: #ffffff;
}